<section class="get-started">
  <div class="container get-started__container">
    <div class="get-started__form-wrapper">
      <h3 class="get-started__form-title heading-h4">Let’s level up your brand</h3>
      <p class="get-started__form-text text-p-medium">
        You can reach us anytime
        <a href="mailto:hellosansbrothers@gmail.com" class="get-started__form-link"
          >hellosansbrothers@gmail.com</a
        >
      </p>
      <form action="" class="get-started__form">
        <div class="get-started__form-top">
          <label class="get-started__form-label">
            <span class="get-started__form-label-text text-p-small">First Name</span>
            <input
              type="text"
              required
              class="get-started__form-input text-p-small get-started__form-input-small"
              name="first-name"
              placeholder="First Name"
            />
          </label>
          <label class="get-started__form-label">
            <span class="get-started__form-label-text text-p-small">Last Name</span>
            <input
            required
              type="text"
              class="get-started__form-input text-p-small get-started__form-input-small"
              name="last-name"
              placeholder="Last Name"
            />
          </label>
        </div>
        <label class="get-started__form-label">
          <span class="get-started__form-label-text text-p-small">Email</span>
          <input
            type="email"
            required
            class="get-started__form-input text-p-small"
            name="email"
            placeholder="you@company.com"
          />
        </label>
        <label class="get-started__form-label">
          <span class="get-started__form-label-text text-p-small">Phone</span>
          <input
            type="tel"
            required
            id="phone"
            class="get-started__form-input text-p-small"
            name="phone"
            placeholder="Enter your phone"
          />
        </label>
        <label class="get-started__form-label">
          <span class="get-started__form-label-text text-p-small">Message</span>
          <textarea
            type="text"
            class="get-started__form-input get-started__form-input--textarea text-p-small"
            name="message"
            required
            placeholder="Leave us a message..."
          ></textarea>
          <button class="get-started__form-btn button-form">Get started</button>
        </label>
      </form>
    </div>
    <img
      loading="lazy"
      class="get-started__img"
      width="988"
      height="885"
      src="./assets/images/get-started-img.jpg"
      alt="A man and a woman slapping palms"
    />
  </div>
</section>
