<section class="believe">
  <div class="container">
    <!-- Slider main container -->
    <div class="believe__swiper swiper">
      <div class="believe__swiper-btns">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="believe__slider-1 swiper-slide">
          <img
            loading="lazy"
            src="./assets/images/believe-slides/believe-slide-1.png"
            alt="A man typing on a laptop while waiting for coffee to cool"
          />
        </div>
        <div class="believe__slider-2 swiper-slide">
          <img
            loading="lazy"
            src="./assets/images/believe-slides/believe-slide-2.png"
            alt="Foureyed ching listening to a women"
          />
          <h4 class="believe__title heading-h5">What we believe in</h4>
          <p class="believe__descr text-p-default">
            Over the years at Sans, we’ve put a lot of thought into what it is that makes us who we
            are. The qualities that unite us, that make us such an effective team, and...
          </p>
          <button class="believe__btn button-form">See Details -></button>
        </div>
        <div class="swiper-slide">
          <img
            src="./assets/images/believe-slides/believe-slide-3.png"
            alt="Kitchen warrior typing on a laptop"
          />
        </div>
        <div class="swiper-slide">
          <img
            loading="lazy"
            src="./assets/images/believe-slides/believe-slide-1.png"
            alt="A man typing on a laptop while waiting for coffee to cool"
          />
        </div>
        <div class="swiper-slide">
          <img
            loading="lazy"
            src="./assets/images/believe-slides/believe-slide-2.png"
            alt="Foureyed ching listening to a women"
          />
          <h4 class="believe__title heading-h5">What we believe in</h4>
          <p class="believe__descr text-p-default">
            Over the years at Sans, we’ve put a lot of thought into what it is that makes us who we
            are. The qualities that unite us, that make us such an effective team, and...
          </p>
          <button class="believe__btn button-form">See Details -></button>
        </div>
        <div class="swiper-slide">
          <img
            src="./assets/images/believe-slides/believe-slide-3.png"
            alt="Kitchen warrior typing on a laptop"
          />
        </div>
        <div class="swiper-slide">
          <img
            loading="lazy"
            src="./assets/images/believe-slides/believe-slide-1.png"
            alt="A man typing on a laptop while waiting for coffee to cool"
          />
        </div>
        <div class="swiper-slide">
          <img
            loading="lazy"
            src="./assets/images/believe-slides/believe-slide-2.png"
            alt="Foureyed ching listening to a women"
          />
          <h4 class="believe__title heading-h5">What we believe in</h4>
          <p class="believe__descr text-p-default">
            Over the years at Sans, we’ve put a lot of thought into what it is that makes us who we
            are. The qualities that unite us, that make us such an effective team, and...
          </p>
          <button class="believe__btn button-form">See Details -></button>
        </div>
        <div class="swiper-slide">
          <img
            src="./assets/images/believe-slides/believe-slide-3.png"
            alt="Kitchen warrior typing on a laptop"
          />
        </div>
        
      </div>
    </div>
  </div>
</section>
