<section class="hero">
    <div class="container">
      <div class="hero__title heading-h2">
        Everything you need to get the attention of your audience
      </div>
      <p class="hero__descr text-p-subtitle">
        Our digital agency helps clients develop, implement and maintain successful digital marketing
        strategies across all channels. Also work with you to build your website and create online
        businesses that grow.
      </p>
      <div class="hero__icon">
        <img loading="lazy" class="container__img light" src="./assets/icons/about-get-in-touch.svg" alt="Get in touch image"> 
        <img loading="lazy" class="container__img dark" src="./assets/icons/about-get-in-touch-dark.svg" alt="Get in touch image for dark theme" style="display: none;"> 
      </div>
    </div>
  </section>
