<section class="example">
  <div class="container">
    <div class="example__grid">
      <div class="example__grid-item-1">
        <img
          loading="lazy"
          src="./assets/images/example-grid/example-grid-1.png"
          alt="A chair and a table"
        />
        <h3 class="example__grid-title heading-h3">
          How we perform long-running tasks using AWS services
        </h3>
        <p class="example__grid-text text-p-defailt">
          Webflow is web design tool as well as a hosting platform and CMS all in one. While you are
          probably familiar with all of these, they are usually entirely separate tools.
        </p>
      </div>
      <div class="example__grid-item-2">
        <img
          loading="lazy"
          src="./assets/images/example-grid/example-grid-2.png"
          alt="Conversation between 3 men in an ofiice"
        />
        <h3 class="example__grid-title example__grid-title-2 heading-h3">
          How to ask when doing User Research
        </h3>
        <p class="example__grid-text text-p-defailt">
          Bro, the story is that you want to make an application for buying and selling goods on the
          market. During user research, what do you think you will ask people?
        </p>
      </div>
      <div class="example__grid-item-3">
        <img
          loading="lazy"
          src="./assets/images/example-grid/example-grid-3.png"
          alt="Conversation with a video call"
        />
        <h3 class="example__grid-title heading-h3">
          Layout Exploration — Simple exercise but big effect
        </h3>
        <p class="example__grid-text text-p-defailt">
          Make alternatives or other options for the design we are making. For example, we are
          creating a website design. Then there is the testimonial section.
        </p>
      </div>
      <div class="example__grid-item-4">
        <img
          loading="lazy"
          src="./assets/images/example-grid/example-grid-4.png"
          alt="Foureyed ching listening to a woman"
        />
        <h3 class="example__grid-title heading-h3">Webflow Break the Coding Barrier</h3>
        <p class="example__grid-text text-p-defailt">
          Webflow is web design tool as well as a hosting platform and CMS all in one. While you are
          probably familiar with all of these, they are usually entirely separate tools.
        </p>
      </div>
    </div>
  </div>
</section>
