<section class="hero">
  <div class="container hero__container">
    <div class="hero__title heading-h2">Activity & Updates</div>
    <p class="hero__descr text-p-subtitle">
      Our biggest challenge is making sure we're always designing and building products that will
      help you run your business better.
    </p>
    <nav class="hero__nav">
      <ul class="hero__nav-list">
        <li class="hero__nav-item">
          <button class="hero__nav-item-sort text-p-default" data-filter="all">View all</button>
        </li>
        <li class="hero__nav-item">
          <button class="hero__nav-item-sort text-p-default" data-filter="design">Design</button>
        </li>
        <li class="hero__nav-item">
          <button class="hero__nav-item-sort text-p-default" data-filter="arcticle">Articles</button>
        </li>
        <li class="hero__nav-item">
          <button class="hero__nav-item-sort text-p-default" data-filter="product">Product</button>
        </li>
        <li class="hero__nav-item">
          <button class="hero__nav-item-sort text-p-default" data-filter="software">
            Software Development
          </button>
        </li>
        <li class="hero__nav-item">
          <button class="hero__nav-item-sort text-p-default" data-filter="success">Customer Success</button>
        </li>
      </ul>
    </nav>
    <div class="activity__swiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide activity__slide product arcticle">
          <img
            loading="lazy"
            src="./assets/images/activity-slides/activity-slider-1.png"
            alt="Woman looking at nothing realizing shes useless"
          />
          <p class="activity__data">Published in Insight Jan 30, 2021</p>
          <h5 class="activity__title heading-h5">Practice making User Flow</h5>
          <p class="activity__descr">
            In this article, we'll cover how to <br />
            create user flows
          </p>
        </div>
        <div class="swiper-slide activity__slide product design">
          <img
            loading="lazy"
            src="./assets/images/activity-slides/activity-slider-2.png"
            alt="Two women browsing something"
          />
          <p class="activity__data">Published in Insight Jan 30, 2021</p>
          <h5 class="activity__title heading-h5">Overview of the Design Principles</h5>
          <p class="activity__descr">
            What are Design Principles?… To understand design principles, we first discuss the
            principles.
          </p>
        </div>
        <div class="swiper-slide activity__slide design success">
          <img
            loading="lazy"
            src="./assets/images/activity-slides/activity-slider-3.png"
            alt="Two men highfiving eachother"
          />
          <p class="activity__data">Published in Insight Jan 30, 2021</p>
          <h5 class="activity__title heading-h5">Using Grid in website design</h5>
          <p class="activity__descr">Andi: "What's the grid like?" Toni: “Like below…”</p>
        </div>
        <div class="swiper-slide activity__slide product arcticle">
          <img
            loading="lazy"
            src="./assets/images/activity-slides/activity-slider-1.png"
            alt="Woman looking at nothing realizing shes useless"
          />
          <p class="activity__data">Published in Insight Jan 30, 2021</p>
          <h5 class="activity__title heading-h5">Practice making User Flow</h5>
          <p class="activity__descr">
            In this article, we'll cover how to <br />
            create user flows
          </p>
        </div>
        <div class="swiper-slide activity__slide product design">
          <img
            loading="lazy"
            src="./assets/images/activity-slides/activity-slider-2.png"
            alt="Two women browsing something"
          />
          <p class="activity__data">Published in Insight Jan 30, 2021</p>
          <h5 class="activity__title heading-h5">Overview of the Design Principles</h5>
          <p class="activity__descr">
            What are Design Principles?… To understand design principles, we first discuss the
            principles.
          </p>
        </div>
        <div class="swiper-slide activity__slide design success">
          <img
            loading="lazy"
            src="./assets/images/activity-slides/activity-slider-3.png"
            alt="Two men highfiving eachother"
          />
          <p class="activity__data">Published in Insight Jan 30, 2021</p>
          <h5 class="activity__title heading-h5">Using Grid in website design</h5>
          <p class="activity__descr">Andi: "What's the grid like?" Toni: “Like below…”</p>
        </div>
      </div>
    </div>
  </div>
</section>
